

<section id="mi-cuenta" class="account-section">
        <ul>
            <li><a href="#mis-libros">Mis Libros</a></li>
            <!-- Agrega más opciones aquí si es necesario -->
        </ul>
    </section>

    <!-- Sección para el desplazamiento de "Mis Libros" -->
    <section id="mis-libros" class="mis-libros-section">
        <div class="book-details-container">
            <div class="book-image">
                <img src="/imagenes/libroej.jpeg" alt="Portada del libro">
                <!-- Cambia la clase del botón según la disponibilidad del libro -->
                <!-- Si el libro está disponible -->
                <button class="btn btn-available">Solicitar Libro</button>

                <!-- Si el libro no está disponible -->
                <!-- <button class="btn btn-unavailable">Libro no disponible</button> -->
            </div>
            <div class="book-info">
                <p><strong>Id_Libro:</strong> 12345</p>
                <p><strong>Título:</strong> Ejemplo de Libro</p>
                <p><strong>Autor:</strong> John Doe</p>
                <p><strong>Año:</strong> 2023</p>
                <p><strong>Género:</strong> Ciencia Ficción</p>
                <p><strong>Editorial:</strong> Editorial Ejemplo</p>
                <p><strong>Cantidad de páginas:</strong> 350</p>
                <p><strong>ISBN:</strong> 978-3-16-148410-0</p>
            </div>
        </div>
    </section>